.product-details-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /*  transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: color, background-color, border-bottom;
    transform: translateZ(0px);*/
    color: rgb(33, 34, 48);
    border-bottom: 1px solid rgb(217, 218, 225);
    padding: 13px 15px;
    color: rgb(33, 34, 48);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 20px;
    margin-bottom: 45px;
}
.product-details-search form {

    position: relative;
}

.product-details-search form>input {

    border-radius: 50px;
    border-color: black;
    padding: 3px 0px 3px 28px;
    outline: none;
}

.product-details-search form i {
    position: absolute;
    content: "";
    left: 8px;
    top: 5px;
}
.logo img{
    width: 160px;
}
.product-details-head .product-details-nav-bar a {
    padding: 8px 11px;
    border: 2px solid #dbd5d5;
    color: #252525;
    margin-left: 4px;
    border-radius: 2px;
    transition: all 0.5s ease;

}

.product-details-head .product-details-nav-bar a:hover {
    color: red;
    border-color: red;
    -ms-transform: scale(9);
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    transition: all 0.5s ease;
}
#produt-detail {
    margin-bottom: 80px;
}

#produt-detail .main {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 30% 70%;

}

#produt-detail .main figure {
    width: 100%;
}

#produt-detail .main figure img {
    width: 100%;
}

#produt-detail .main .detail {
    height: auto;
    border: 1px solid #8a898969;
    border-radius: 2px;
    padding: 0px 15px;
}

#more {
    display: none;
}

#produt-detail .main .detail strong {
    color: #141414 !important;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    line-height: 30px !important;
    font-weight: 600 !important;
    font-size: 24px;
    padding: 20px 0px;
    width: 100%;
    float: left;
}

#produt-detail .main .detail>p {
    color: #696b82;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    float: left;
    width: 100%;
    padding-bottom: 50px;
}

#produt-detail .main .detail button {
    background: none;
    border: none;
    color: red;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

#produt-detail .main .detail .price-box {
    display: flex;
    width: 36%;
    justify-content: space-between;
    color: #212330;
    padding: 6px 10px 6px 20px;
    margin-bottom: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
}

#produt-detail .main .detail .price-box .price {
    color: #212330;
}

#produt-detail .main .detail .price-box .price small {
    font-size: 15px;
    font-family: 'Source Sans Pro',
    helvetica,
    sans-serif;
}

#produt-detail .main .detail .price-box .price {
    font-size: 20px;
    font-family: 'Source Sans Pro',
    helvetica,
    sans-serif;
}

#produt-detail .main .detail .price-box button {
    background: red;

    width: 53%;
    font-size: 18px;
    border-radius: 5px;
}

#produt-detail .main .detail .price-box button a {
    text-decoration: none;
    color: white;
}
#produt-detail-extra {
    margin-bottom: 80px;
}

#produt-detail-extra .main {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 50% 50%;

}

#produt-detail-extra .main .author-info {
    width: 100%;
    height: auto;
    border: 1px solid #8a898969;
    border-radius: 2px;
    padding: 0px 15px;
}

#produt-detail-extra .main .author-info strong {
    color: #141414 !important;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    line-height: 30px !important;
    font-weight: 600 !important;
    font-size: 24px;
    padding: 20px 0px;
    width: 100%;
    float: left;
}

#produt-detail-extra .main .author-info .author-detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*display: grid;
width: 100%;
grid-template-columns: 28%  30%;
grid-column-gap: 6px;*/
}

#produt-detail-extra .main .author-info .author-detail figure {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#produt-detail-extra .main .author-info .author-detail img {
    width: 32%;
}

#produt-detail-extra .main .author-info .author-detail figcaption {
    color: #696b82;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0px 10px;
}

#produt-detail-extra .main .author-info .author-detail button {
    color: #696b83;
    border-color: #d9dae1;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    height: 35px;
    width: 45%;
}

#produt-detail-extra .main .cart-part {
    height: auto;
    border: 1px solid #8a898969;
    border-radius: 2px;
    padding: 0px 15px;
    padding-top: 20px;
}

#produt-detail-extra .main .cart-part strong {
    color: #141414 !important;
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    line-height: 30px !important;
    font-weight: 600 !important;
    font-size: 24px;
    padding: 20px 0px;
    width: 100%;
    float: left;
}

#produt-detail-extra .main .cart-part form {
    display: flex;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    justify-content: left;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

#produt-detail-extra .main .cart-part form .search-icon {
    display: inline-block;
    width: 42%;
    position: relative;
    padding: 0px 5px;
}

#produt-detail-extra .main .cart-part form input {
    width: 100%;
    border: none;
    padding: 12px 0px 12px 0px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 20px;
    outline: none;
    height: 60px;
    border-radius: 3px;
    background-color: rgb(109, 108, 121);
    padding-left: 20px;
    font-weight: 600;
}

form .search-icon #cancle {
    position: absolute;
    content: "";
    left: 80%;
    top: 28%;
    font-size: 25px;
}


#produt-detail-extra .main .cart-part .cart-box {
    display: flex;
    width: 100%;
    justify-content: left;
    color: #212330;
    padding: 6px 10px 6px 0px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#produt-detail-extra .main .cart-part .cart-box button {
    background: #c30d0d;
    width: 26%;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 0px 5px;
    padding: 12px 0px;
}